.wrapper{
  overflow: hidden;
  position: relative;
  zoom: 1;
  main.article_index{
    padding-top: 60px;
    padding-left: 5px;
    float: left;
    width: -webkit-calc(100% - 300px);
    .articles{
      &__article{
        width: 240px;
        height: 330px;
        margin-right: 10px;
        display: inline-block;
        margin-left: auto;
        margin-top: 20px;
        margin-bottom: 10px;
        padding: 15px;
        background-color: white;
        &--uper{
          .title{
            font-size: larger;
            font-weight: bold;
            height: 46px;
          }
        }
        &--thumbnail{
          img{
            width: 210px;
            height: 210px;
            margin-top: 3px;
          }
        }
      }
    }
  }
  .right{
    width: 300px;
    position: fixed;
    top: 0;
    right: 0;
    bottom: auto;
    padding-top: 100px;
    padding-right: 10px;
    margin: 5px;
      &__contents{
        background-color: white;
        overflow: hidden;
        padding: 8px;
      .tag_search{
      }
      .tags_popular{
        margin-bottom: 9px;
        overflow: hidden;
        .text{
          border-bottom: inset;
        }
        .tag{
          float: left;
          margin-right: 5px;
          margin-top: 3px;
        }
      }
      .ranking{
        clear: both;
        .text{
          border-bottom: inset;
        }
      }
    }
  }
}