main{
  padding-top: 60px;
  padding-bottom: 10px;
  .article{
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    padding: 15px;
    background-color: white;

      &__uper{
        .title{
          font-size: larger;
          font-weight: bold;
        }
      }
      &__main{
        margin-bottom: 20px;
      }
      &__lower{
        height: 20px;
        line-height: 20px;
        margin-bottom: 5px;
        .tags{
          float: left;
        }
        .like{
          float: left;
        }
        .delete{
          float: right;
        }
      }
  }
}