.create-group{
  margin: 12px;
  background-color: white;
}

.groups{
  margin-bottom: 20px;
  a{
    color: black;
  }
  a:hover{
    color: black;
    text-decoration: none;
  }
  &__group{
    margin: 16px;
    background-color: tan;
    &--uper{
      display: flex;
      position: relative;
      padding: 10px;
      height: 90px;
      img{
        width: 70px;
      }
      .info{
        margin-left: 5px;
        .title{
          top: 0;
        }
        .user-length{
          position: absolute;
          bottom: 10px;
          margin: 0;
        }
      }
    }
    &--lower{
      background-color: white;
      height: 60px;
      line-height: 60px;
    }
  }
}

.group-header{
  height: 79px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 50px;
  background-image: url("group-bg-img.jpg");
  color: white;
  &__group-image{
    float: left;
    margin-right: 18px;
    img{
      width: 55px;
    }
  }
  &__name{
    font-size: 14px;
    
  }
  &__user-length{
    font-size: 12px;
  }
}