.wrapper{
  background-color: #f8f7f8;
}
.btn{
  a{
    color: white;
  }
}
.header{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: auto;
  z-index: 10;
  .row{
    height: 50px;
    text-align: center;
    line-height: 100px;
  }
}
.tags{
  width: fit-content;
  &__tag{
    margin-right: 9px;
    display: inline;
    &--icon{
      color: #b17b2c;
    }
  }
}
.user_info{
  width: fit-content;
  line-height: 35px;
  display: flex;
  padding: 3px;
  img{
    width: 35px;
    height: 35px;
  }
  &__user_name{
    margin-left: 7px;
  }
}