.user-data{
  position: relative;
  background-color: white;
  .progress{
    height: 130px;
    margin-bottom: 0;
  }
  .profile{
    height: 80px;
    width: 100%;
    position: absolute;
    margin-top: auto;
    margin-bottom: auto;
    top: 90px;
    bottom: auto;
    padding-left: 15px;
    img{
      height: 80px;
      width: 80px;
      float: left;
      margin-right: 15px;
    }
    .name{
      float: none;
      display: block;
      width: 100%;
      height: 46px;
      bottom: 0;
      font-weight: 700;
    }
    .buttons{
      float: left;
      .edit_relationship{
        display: inline-block;
      }
      button{
        border: 1px solid #28a745;
      }
    }
  }
  .lower{
    height: 130px;
    position: relative;
    .menus{
      width: 100%;
      position: absolute;
      bottom: 0;
      text-align: center;
      .menu{
        display: inline-flex;
        a{
          color: black;
          text-decoration: none;
        }
        .icon{
          font-size: x-large;
        }
        p{
          font-size: x-small;
          height: 24px;
          line-height: 24px;
          font-weight: bold;
        }

        .activities{
          margin-right: 22px;
          width: 80px;
        }
        .activities:hover{
          color: #f63;
        }
        .activities.active{
          color: #f63;
          border-bottom: 3px inset #f63;  
        }

        .follower{
          margin-left: 22px;
          width: 80px;
        }
        .follower:hover{
          color: #f63;
        }
        .follower.active{
          color: #f63;
          border-bottom: 3px inset #f63;
        }

        .follow{
          width: 80px;
        }
        .follow.active{
          color: #f63;
          border-bottom: 3px inset #f63;
        }
        .follow:hover{
          color: #f63;
        }
      }
    }
  }
}

.activities-contents{
  width: 70%;
  min-width: 700px;
  right: 0;
  margin: auto;
  padding-top: 20px;
  .activity{
    padding: 10px 8px 12px 8px;
    height: 160px;
    background-color: white;
    margin-bottom: 20px;
    .uper{
      margin-bottom: 12px;
      .user_info{
        float: left;
        margin-right: 10px;
      }
      .text{
        height: 20px;
      }
      .time{
        height: 20px;
        color: #999;
      }
    }
    a{
      color: black;
      text-decoration: none;
      .content{
        padding: 10px;
        background-color: #f8f7f8;
        overflow: hidden;
        height: 75px;
        border: 1px solid #dad9d8;
        word-break: break-all;
      }
    }
  }
}

.rerationships{
  width: 70%;
  min-width: 700px;
  margin: 30px auto auto auto;
  
  .rerationship{
    width: 100%;
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #dad9d8;
    background-color: white;
    &__left{
      float: left;
    }
    &__right{
      float: right;
    }
  }
}